* {padding: 0;margin: 0;}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', serif;
    font-weight: normal;
}

header {
    display: flex;
    justify-content: space-between;
}

main {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

a {
    color: black;
    text-decoration: none;
}

.logo-reservia {
    height: 50px;
    margin: 20% 50%;
}

.conteneur-lien {
    display: flex;
    justify-content: flex-end;
}

.conteneur-lien a {
    padding: 30px 70px 20px 40px;
    text-decoration: none;
    font-family: 'Raleway', serif;
    font-size: 1.2em;
    transition: 0.1s;
}

.lien-nav {
    border-top: 3px solid rgba(0,0,0,0);
}

.conteneur-lien a:hover{
    border-top: 3px solid #0065FC;
    transition: 0.2s;
}

.act {
    color: black;
}

.blue:visited {
    color: #0065FC;
}

.bleu {
    color: #0065FC;
}

.active {
    border-top: 3px solid #0065FC;
}

.recherche {
    margin-left: 3%;
    margin-top: 1.5%;
}

.titre-recherche {
    font-weight: bold;
    margin-bottom: 0.5%;
}

.sous-titre-recherche {
    font-size: 1.3em;
}

.recherche-champ {
    margin-top: 1%;
    display: flex;
}

.icon-champ {
    font-size: 2em;
    padding: 0.5% 1% 0 1%;
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
}

.champs-de-recherche {
    font-size: 1.2em;
    border: none;
    border-top: 2px solid #F2F2F2;
    border-bottom: 2px solid #F2F2F2;
    padding: 0 1.5%;
    background-color: white;
    font-weight: bold;
    color: black;
}

.recherche-button {
    background-color: #0065FC;
    border: none;
    padding: 1%;
    font-family: Raleway, serif;
    font-weight: bold;
    border-radius: 0 15px 15px 0;
    color: white;
    font-size: 1.2em;
}

.conteneur-filtres {
    display: flex;
}

.filtres {
    margin: 3% 0;
    display: flex;
}

.titre-filtres {
    padding: 0.5% 0;
    margin-right: 3%;
    font-size: 1.5em;
    font-weight: bold;
}

.filtre {
    display: flex;
    justify-content: flex-end;
    border: 2px solid #DDDDDD;
    border-radius: 100px;
    border-left: none;
    margin: 0 10px;
    transition: 0.3s;
}

.filtre:hover .bleu{
    transition: 0.5s;
    color: #FFF;
    border-color: #0065FC;
    background-color: #0065FC;
}

.nom-filtre {
    margin: auto;
    padding: 15px 15px 15px 20px;
    font-size: 1.3em;
    border-left: none;
    font-family: Raleway, serif;
    font-weight: bold;
    white-space: nowrap;
}

.icon-filtre {
    margin: auto;
    font-size: 1.7em;
    border: 10px solid #DEEBFF;
    background-color: #DEEBFF;
    border-radius: 200px;
    padding: 10px
}

.fa-money-bill-wave {
    color: #0065FC;
}

.fa-child{
    color: #0065FC;
}

.fa-heart {
    color: #0065FC;
}

.fa-dog {
    color: #0065FC;
}

.fa-info {
    border: 2px solid #F2F2F2;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 1.2em;
    text-align: center;
    color: #0065FC;
    margin-right: 50px;
}

.gris {
    color: #D8D8D8;
}

.bleu {
    color: #0065FC;
}

.info {
    margin-left: 3%;
    font-size: 1.3em;
    font-family: Raleway, serif;
}

.hebergement {
    display: flex;
    justify-content: space-between;
    padding-top: 2.5%;
}

.hebergement-marseille {
    background-color: #F2F2F2;
    margin: 1% 4% 4% 2%;
    font-weight: bold;
    flex: 6;
    border-radius: 50px;
    padding-bottom: 50px;
}

.hebergement-marseille h2 {
    font-weight: bold;
    padding: 4% 0 0 4%;
    margin-bottom: 15px;
}

.hebergement-populaire {
    background-color: #F2F2F2;
    margin: 1% 4% 4% 2%;
    border-radius: 50px;
    font-weight: bold;
    padding: 1.8%;
    flex: 2;
}

.hebergement-populaire h2 {
    font-weight: bold;
    padding: 4% 0 0 4%;
}

.conteneur-populaire {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.conteneur-titre-populaire {
    display: flex;
    justify-content: space-between;
}

.img-offre-p {
    border-radius: 15px 0 0 15px;
    height: 140px;
    width: 150px;
    margin: 0 -10px 0 -20px;
}

.offre-type2 {
    display: flex;
    background-color: #FFF;
    border: 5px solid #FFF;
    border-radius: 15px;
    position: relative;
    margin: 25px 0;
    overflow: hidden;
}

.img-populaire {
    width: 130px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 15px 0 0 15px;
    height: 150px;
}

.conteneur-text-offre2 {
    margin: 10px 0 0 25px;
}

.conteneur-text-offre2 h4 {
    font-weight: bold;
    font-family: Raleway, serif;
    font-size: 1.2em;
    padding-right: 30px;
}

.conteneur-text-offre2 p {
    font-weight: normal;
    font-size: 0.9em;
    font-family: Raleway, Serif;
}

.fa-chart-line {
    font-size: 2em;
    margin-top: auto;
}

.conteneur-offre-marseille {
    margin: 0 40px 30px 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.offre-type1 {
    background-color: #FFF;
    border: 5px solid white;
    border-radius: 15px;
    margin: 10px;
    overflow: hidden;
    width: 320px;
    height: 250px;
    box-shadow: 0px 0px 5px #DCDCDC;
}

.img-offre-m {
    width: 430px;
    margin: -50px -50px -50px -100px;
}

.img-offre-marseille {
    background-clip: content-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 150px;
}

.offre-type1 h4 {
    margin-top: 20px;
    font-family: Raleway, Serif;
    padding-left: 20px;
    font-weight: bold;
    font-size: 1.2em;
}

.offre-type1 p {
    font-family: Raleway, Serif;
    padding-left: 20px;
    margin: 2% 0;
    font-weight: normal;
    font-size: 0.9em;
}

.note {
    padding-left: 20px;
    margin: 0 40px 60px 0;
}

.note-pop {
    position: absolute;
    bottom: 10px;
}

.affiche-plus {
    font-family: Raleway;
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.5em;
    margin: 50px 0;
    padding: 6%;
}

.activite {
    margin: 0 4% 4% 4%;
}

.list-activite {
    display: flex;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 2% 0;
    height: 800px;
    width: auto;
}

.cont-img1 {
    max-height: 145px;
    overflow: hidden;
}

.recadrement1 {
    margin-top: -180px;
}

.recadrement2 {
    margin-top: -270px;
}

.titre-activite {
    font-family: Raleway;
    font-weight: bold;
    font-size: 2em;
}

.conteneur-activite {
    box-shadow: 0 0 5px #DCDCDC;
    border-radius: 50px;
    margin: 10px 0;
    width: 350px;
    min-width: 100px;
    overflow: hidden;
}

.colone-activite {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.conteneur-activite-1 {
    height: 680px;
}

.conteneur-activite-2 {
    height: 370px;
}

.conteneur-activite-3 {
    height: 270px;
}

.img-activite {
    overflow: hidden;
}

.img-activite-g {
    margin: 0 0 0 -380px;
}

.img-activite-g {
    height: 610px;
}

.img-activite-margin img {
    margin: -350px 0 0 -50px;
}

.img-activite-margin {
    height: 300px;
}

.img-activite-p-margin img {
    margin: -100px 0 0 -150px;
}

.img-activite-p-margin {
    height: 200px;
}

.img-activite-m img {
}

.img-activite-m {
    height: 270px;
}

.titre-activite-div {
    padding: 20px;
    font-family: Raleway, serif;
    font-size: 1.2em;
    font-weight: bold;
    margin-left: 10px;
}

img-activite {

}

img-activite img {
}

footer {
    display: flex;
    padding: 60px;
    background-color: #F2F2F2;
}

footer ul {
    margin: 0 280px 0 50px;
}

footer ul li {
    font-family: Raleway;
    font-size: 1em;
    list-style: none;
    margin: 10px 0;
}

.footer-cat {
    font-weight: bold;
    margin: 20px 0;
    font-size: 1.4em;
}

.fa-search {
    display: none;
}

.mobile-inscription {
    display: none;
}

.big-img {
    margin-top: -650px;
}

.link-offre-type3 {
    display: flex;
    max-width: 500px;
}


@media screen and (min-width: 320px) and (max-width: 754px) {

    header {
        display: flex;
        flex-direction: column;
    }

    .link-offre-type1 {
        min-width: 300px;
        display: flex;
    }

    .header-mobile {
        display: flex;
        justify-content: space-around;
        vertical-align: center;
        padding: 15px 0;
    }

    .logo-reservia {
        margin: 0 0 0 20px;
        padding: 0;
    }

    .mobile-inscription {
        display: initial;
        margin: auto 30px auto auto;
        text-decoration: none;
        font-family: Raleway, serif;
    }

    .conteneur-lien {
        padding: 15px 0;
        justify-content: center;
    }

    .conteneur-lien a {
        text-align: center;
        padding: 30px 30px 20px 40px;
        font-size: 0.9em;
    }

    .titre-activite {
        font-size: 1.8em;
    }

    .conteneur-lien a:hover {
        border-top: none;
    }

    .mob-link {
        border-top: none;
        border-bottom: 3px solid #F2F2F2;
    }

    .mob-link:hover {
        border-top: none;
        border-bottom: 3px solid #0065FC;
    }

    .active {
        border-bottom: 3px solid #0065FC;
    }

    .inscription {
        display: none;
    }

    .mob-link {
        width: 50%;
    }

    .titre-recherche {
        margin-bottom: 10px;
    }

    .sous-titre-recherche {
        margin-bottom: 10px;
    }

    .recherche-champ {
        margin: 30px 0;
        width: 290px;
        border-right: none;
        width: -moz-available;
    }

    .icon-champ {
        font-size: 1em;
        padding: 20px 20px;
        background-color: #F2F2F2;
        border-radius: 15px 0 0 15px;
    }

    .champs-de-recherche {
        border: 2px solid #F2F2F2;
        border-left: none;
        border-right: none;
        padding-left: 20px;
        font-size: 0.8em;
    }

    .recherche-button {
        position: relative;
        right: 10px;
        border-radius: 10px;
    }

    .recherche-text {
        display: none;
    }

    .fa-search {
        display: inline;
        padding: 10px;
    }

    .filtres {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .filtre {
        margin: 10px;
    }

    .titre-filtres {
    }

    .conteneur-filtres{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .fa-info {
        margin-right: 10px
    }

    .info {
        font-size: 1.2em;
    }

    .hebergement {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .hebergement-populaire {
        margin: 2% 0%;
        border-radius: 0;
    }

    .hebergement-marseille {
        margin: 0;
        border-radius: 0;
        padding-top: 20px;
        background: #FFF;
    }

    .offre-type2 {
        width: 768px;
    }

    .offre-type1 {
        width: 650px;
    }

    .cont-img1 img{
        object-fit: cover;
        width: 750px;
    }

    .activite {
        height: 1950px;
    }

    .list-activite {
        display: flex;
        flex-direction: column;
        flex-wrap: unset;
        align-items: center;
        margin-bottom: 50px;
        margin-top: 550px;
    }

    .conteneur-activite-1 {
        height: auto;
    }

    .conteneur-activite-2 {
        height: auto;
    }

    .link-offre-type3 {
        max-height: 320px;
        width: -moz-available;
        width: -webkit-fill-available;
    }

    .img-activite {
        overflow: hidden;
        border-radius: 30px 30px 0 0;
        max-height: 200px;
    }

    .colone-activite {
        width: auto;
    }

    .img-activite img{
        width: -webkit-fill-available;
        width: -moz-available;
        object-fit: cover;
        max-height: 200px;
        margin: 0px 0 0 -50px;
    }

    .conteneur-activite {
        margin: 10px 0;
        min-height: 260px;
        width: -webkit-fill-available;
        width: -moz-available;
    }

    footer {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    footer ul li {
        white-space: nowrap;
    }
}

@media screen and (min-width: 754px) and (max-width: 1023px)  {

    header {
        display: flex;
        flex-direction: column;
        display: block;
    }

    .header-mobile {
        display: flex;
        justify-content: space-around;
        vertical-align: center;
        padding: 15px 0;
    }

    .list-activite {
        justify-content: center;
    }

    .logo-reservia {
        margin: 0 0 0 20px;
        padding: 0;
    }

    .mobile-inscription {
        display: initial;
        margin: auto 45px auto auto;
        text-decoration: none;
        font-family: Raleway, serif;
    }

    .conteneur-lien {
        padding: 15px 0;
    }

    .conteneur-lien a {
        text-align: center;
    }

    .conteneur-lien a:hover {
        border-top: none;
    }

    .mob-link {
        border-top: none;
        border-bottom: 3px solid #F2F2F2;
    }

    .mob-link:hover {
        border-top: none;
        border-bottom: 3px solid #0065FC;
    }

    .active {
        border-bottom: 3px solid #0065FC;
    }

    .inscription {
        display: none;
    }

    .mob-link {
        width: 50%;
    }

    .titre-recherche {
        margin-bottom: 10px;
    }

    .sous-titre-recherche {
        margin-bottom: 10px;
    }

    .recherche-champ {
        margin: 30px 0;
        width: 370px;
        border-right: none;
    }

    .icon-champ {
        font-size: 1em;
        padding: 20px 20px;
        background-color: #F2F2F2;
        border-radius: 15px 0 0 15px;
    }

    .champs-de-recherche {
        border: none;
        border: 2px solid #F2F2F2;
        border-left: none;
        border-right: none;
        padding-left: 20px;
    }

    .recherche-button {
        position: relative;
        right: 10px;
        border-radius: 10px;
    }

    .recherche-text {
        display: none;
    }

    .fa-search {
        display: inline;
        padding: 10px;
    }

    .filtres {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .filtre {
        margin: 10px;
    }

    .titre-filtres {
    }

    .conteneur-filtres{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .fa-info {
        margin-right: 10px
    }

    .info {
        font-size: 1.2em;
    }

    .hebergement {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .hebergement-populaire {
        margin: 2% 0%;
        border-radius: 0;
    }

    .conteneur-populaire {
        width: -moz-available;
        width: -webkit-fill-available;
    }

    .hebergement-marseille {
        margin: 0;
        border-radius: 0;
        padding-top: 20px;
        background: #FFF;
    }


    .activite {
        height: 900px;
    }

    .offre-type1 {
        max-width: 300px;
    }

    .offre-type2 {
        width: -moz-available;
        width: -webkit-fill-available;
    }

    .cont-img1 img{
        object-fit: cover;
        width: 750px;
    }

    .list-activite {
        display: flex;
        flex-direction: unset;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 50px;
        height: auto;
    }

    .link-offre-type2 {
        width: -moz-available;
        width: -webkit-fill-available;
    }

    .img-activite {
        overflow: hidden;
        border-radius: 30px 30px 0 0;
        max-height: 200px;
    }

    .colone-activite {
        width: auto;
    }

    .img-activite img{
        min-width: 820px;
        object-fit: cover;
        max-height: 200px;
        margin: 0px 0 0 -50px;
    }


    .conteneur-activite {
        margin: 10px 20px;
        height: 260px;
        width: auto;
        max-width: 300px;
        min-height: 260px;
    }

    footer {
        display: flex;
        flex-direction: column;
    }

    footer ul li {
        white-space: nowrap;
    }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .link-offre-type2 {
        display: flex;
        min-width: 50px ;
    }
}

@media screen and (max-width: 1178px) and (min-width: 1023px) {
  /*
    footer {
        flex-direction: unset;
    }

    footer ul {
        margin: 0 80px 0 50px;
    }

    .activite {
        height: 620px;
    }
*/
    .nom-filtre {
        font-size: 1em;
    }

    .hebergement {
        justify-content: center;
    }

    .hebergement-marseille {
        width: 500px;
        flex: none;
    }

    .hebergement-populaire {
        width: 300px;
        flex: none;
    }

    .conteneur-offre-marseille {
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        width: -moz-available;
        width: -webkit-fil-availble;
    }

    .link-offre-type1 {
        width: 350px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1540px) {

    footer  ul {
        margin: 0 200px 0 50px
    }

    .offre-type1 {
        width: -webkit-fill-available;
        width: -moz-available;
    }

    .conteneur-activite {
        width: 250px;
    }

    .img-activite-p-margin img {
        margin: -100px 0 0 -250px;
    }

    .conteneur-text-offre2 h4 {
        font-size: 1em;
    }
}
